*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: 18px;
}

body {
  min-width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main > section.heading {
  position: relative;
  background: #26121460;
  height: 345px;
  margin-bottom: 2rem;
  padding: 6rem 1rem;
}

.main > section.heading > * {
  color: white;
  /* z-index: 1; */
}
.main > section.heading {
  font-size: var(--main-font);
}

.main section.heading::before {
  content: '';
  position: absolute;
  background: url('../images/heading-bg.jpg');
  background-size: contain 345px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main h2 {
  margin: 1rem;
}

.main h3,
.main h4 {
  margin: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.main h3 {
  color: #696969;
}

.main h4 {
  color: #8f503f;
}

.main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main div.contact-details {
  flex-direction: row;
  width: 100%;
}

div.phone,
div.email,
div.address {
  font-size: var(--main-font);
  height: 15rem;
  width: 15rem;
  /* width: fit-content; */
  /* height: 100%; */
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main a,
.main p {
  color: #8b8680;
  margin: 0.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 70%;
  max-width: 780px;
  position: relative;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem 2.63rem;
  margin: 1rem;
  outline: none;
  border: 1px solid #8f503f50;
  background-color: #fafafa;
}

form textarea {
  height: 20rem;
  margin-bottom: 5rem !important;
}

form button {
  /* text-transform: uppercase; */
  font-size: var(--main-font);
  font-weight: bold;
  line-height: 1rem;
  color: white;
  background-color: #8f503f;
  padding: 1rem 4rem;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translateX(-100%); */
}

.main > div.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.main > div.social-links > a.social {
  background-color: #8f503f;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0.5rem 1rem; */
  padding: 0.5rem;
}

@media (max-width: 770px) {
  div.main > div.contact-details {
    margin: 0 0 3rem;
  }

  div.phone, div.email, div.address {
    width: 230px;
  }

  .main div.contact-details > div {
    margin: 0.5rem;
    padding: 0.5rem;
    height: max-content;
  }

  section.heading {
    order: -1;
  }

  form {
    /* order: -1; */
    margin-bottom: 3rem;
  }
  form input,
  form textarea {
    padding: 1rem 1.5rem;
  }

  div.main > div.social-links {
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 760px) {
  div.main > div.contact-details {
    flex-direction: column;
    margin: 3rem 0;
  }

  form > textarea {
    height: 15rem;
  }
}

@media (max-width: 450px) {
  form,
  form > input,
  form > textarea {
    margin: 1rem 0;
  }

  form {
    width: 80%;
    /* margin-bottom: 2rem; */
  }

  form > textarea {
    height: 10rem;
  }

  form > button {
    width: 100%;
  }

  div.main > div.contact-details {
    margin: 0;
  }

  div.main > div.contact-details p {
    width: max-content;
    max-width: 100%;
  }
}
