
.gallery{
	padding-top:100px;
	padding-left: 210px;
	padding-right: 210px;
	padding-bottom: 100px;
	
}
.gallery-header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gallery-header h4{
	color:  #8F503F;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 8px;
}
.gallery-header p{
	color: #8B8680;
	font-size: 18px;
	line-height: 27px;
	width: 310px;
	height: 54px;
	text-align: center;
	margin-bottom: 45px;
}

#gallery-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
   	grid-row-gap: 0;
}

.img-badge {height:13px;width:13px;padding:0}