/* Gallery Section */
.gallery_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10vw;
    background-color: #fafafa;
}

.gallery_title {
    color: #8F503F;
    margin: 10px 0 5px;
}

.gallery_text {
    color: #8B8680;
    margin: 5px 0 10px;
    font-size: 18px;
    text-align: center;
}

.gallery_imgs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.gal_img {
    width: 100%;
}

.ind {
    margin: 10px 0;
}

.ind_item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #8F503F;
    margin: 0 5px;
    display: inline-block;
}

.focus {
    background-color: #8F503F;
}

.anime {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {opacity: .3;}
    to {opacity: 1;}
}

@media screen and (max-width: 580px) {
    .gallery_imgs {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}
/* End Gallery Section */

/* Testimonial Section */
#testimonial {
    background: url('../images/testimonial.png');
    height: 493px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#testimonial h3 {
    margin-bottom: 1.5rem;
}

.container {
    width: 85%;
    margin: auto;
    display: flex;
}

.left {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    flex:1
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    text-align: center;
    height: 100%;
}

.content .image {
    margin: 1rem;
}

.content .text p:last-of-type {
    margin-top: 1.5rem;
    font-weight: 300;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    width: fit-content;
}

@media(max-width: 1050px) {
    .left, .right {
        flex: 0.7;
    }
}

@media(max-width: 850px) {

    .left, .right {
        flex: 0.4;
    }
}

@media(max-width: 675px) {

    .left, .right {
        flex: 0.25;
    }
}

@media(max-width: 550px) {

    .left, .right {
        flex: none;
        width: fit-content;
    }

    .container {
        width: 90%;
    }

    .content {
        margin: 0 1rem;
    }

    .content .image img{
        width: 70%;
    }

    .content .text {
        font-size: 14px;
    }
}
