* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
}

/*Start Top Slideshow */
.slideshow-container {
  width: 100%;
  min-height: 20rem;
  height: 60%;
  max-height: 778px;
  position: relative;
}

.slideshow-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #26121460;
  z-index: 1;
}

.slideshow-container > *:not(img) {
  z-index: 2;
}

.slideshow-container > section.heading {
  position: absolute;
  top: 50%;
  left: 6.9rem;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slideshow-container > section > p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.slideshow-container > section > h1 {
  color: white;
  font-size: 48px;
  margin: /* 0.5rem */ 0;
}

.slideshow-container > section > a.btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 3rem;
  background-color: #8f503f;
  margin-top: 2rem;
  cursor: pointer;
}

.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* size: 100% contain; */
}

/* Hide the images by default */
.mySlides:not(:first-of-type) {
  display: none;
}

/* The dots/bullets/indicators */
.topDots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.topDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border: 1px solid #8f503f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease-in-out;
}

.active,
.topDot:hover {
  background-color: #8f503f;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade1;
  -webkit-animation-duration: 0.02s;
  animation-name: fade1;
  animation-duration: 0.02s;
}

@-webkit-keyframes fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .slideshow-container > section.heading {
    left: 3.5rem;
  }
}

@media screen and (max-width: 530px) {
  .slideshow-container > section.heading {
    left: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .slideshow-container {
    height: 60%;
  }

  .slideshow-container > section > h1 {
    font-size: 2rem;
  }

  .slideshow-container > section > p,
  .slideshow-container > section > a.btn {
    font-size: 1rem;
  }
}

/* End Top SlideShow */

/* About Section */
.about-section-wrapper {
  background-color: #fafafa;
  padding: 78px 0;
}

.about-section-wrapper .about-section-contents {
  max-width: 1440px;
  margin-top: auto;
  padding: 0 6.875rem 0 6.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) /* [2] */;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 35px;
}

@media screen and (max-width: 1200px) {
  .about-section-wrapper .about-section-contents {
    padding: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 1075px) {
  .about-section-wrapper .about-section-contents {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 35px;
  }
}

@media screen and (max-width: 530px) {
  .about-section-wrapper .about-section-contents {
    padding: 0 1.5rem 0 1.5rem;
  }
}

.about-section-wrapper .about-section-contents .about-image-wrapper {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.about-section-wrapper .about-section-contents .about-image-wrapper img {
  width: 100%;
}

.about-section-wrapper .about-section-contents .about-section-text h3 {
  font-size: 1.5rem;
  line-height: 36px;
  color: #8f503f;
  margin-bottom: 1.125rem;
}

.about-section-wrapper .about-section-contents .about-section-text p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  color: #8b8680;
  margin-bottom: 24px;
}

.about-section-wrapper .about-section-contents .about-text-link a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.125rem;
  background: #8f503f;
  -webkit-box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.03);
  box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.03);
  padding: 13px 36px;
}
/* End of About Section */

/* Hospitality Section */
.hospitality-section-wrapper {
  width: 100%;
  height: 522px;
  background: url('../images/hospitality-background.jpg') center center
      no-repeat,
    rgba(64, 48, 50, 0.55);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 77px;
}

.hospitality-section-wrapper .hospitality-section-contents {
  max-width: 530px;
  padding: 0 3rem;
  text-align: center;
  color: #fff;
}

.hospitality-section-wrapper .hospitality-section-contents h3 {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 68px;
}

.hospitality-section-wrapper .hospitality-section-contents p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 70px;
}
/* End of Hospitality Section */

/* Top-Rated-Rooms Section */
.top-rated-rooms {
  background-color: #fafafa;
  padding: 40px 0 130px;
}

.top-rated-rooms .room-container {
  max-width: 1440px;
  margin-top: auto;
  padding: 0 6.875rem 0 6.4rem;
}

@media screen and (max-width: 1200px) {
  .top-rated-rooms .room-container {
    padding: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 530px) {
  .top-rated-rooms .room-container {
    padding: 0 1.5rem 0 1.5rem;
  }
}

.top-rated-rooms .room-container .rate-holder {
  text-align: center;
}

.top-rated-rooms .room-container .rate-holder h2 {
  font-size: 1.5rem;
  line-height: 36px;
  color: #8f503f;
  margin-bottom: 0.9rem;
}

.top-rated-rooms .room-container .rate-holder p {
  font-size: 1.125rem;
  line-height: 27px;
  color: rgba(139, 134, 128, 0.85);
}

@media screen and (max-width: 1075px) {
  .top-rated-rooms .room-container .room-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) /* [2] */;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 860px) {
  .top-rated-rooms .room-container .room-wrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}

.top-rated-rooms .room-container .room {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) /* [2] */;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 38px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 74px;
}

@media screen and (max-width: 1075px) {
  .top-rated-rooms .room-container .room {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}

.top-rated-rooms .room-container .room .room-image img {
  width: 100%;
}

.top-rated-rooms .room-container .room .room-contents {
  max-width: 519px;
}

.top-rated-rooms .room-container .room .room-contents h2 {
  font-size: 1.5rem;
  line-height: 36px;
  color: #8f503f;
  margin-bottom: 9px;
}

.top-rated-rooms .room-container .room .room-contents .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.top-rated-rooms .room-container .room .room-contents .ratings h3 {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  color: #696969;
  margin-right: 0.5rem;
}

.top-rated-rooms .room-container .room .room-contents p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
  color: #8b8680;
}

.top-rated-rooms .room-container .room .room-contents .icons {
  margin: 30px 0 21px;
}

.top-rated-rooms .room-container .room .room-contents .icons li {
  display: inline-block;
  margin-right: 0.5rem;
}

.top-rated-rooms .room-container .room .room-contents .icons li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #8f503f;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-rated-rooms .room-container .room .room-contents .room-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-rated-rooms .room-container .room .room-contents .room-price h2 {
  font-size: 1.5rem;
  line-height: 36px;
  color: #8f503f;
  margin: 0;
  margin-right: 40px;
}

.top-rated-rooms .room-container .room .room-contents .room-price h2 span {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 27px;
  color: #8b8680;
}

.top-rated-rooms .room-container .room .room-contents .room-price .book-room a {
  display: inline-block;
  padding: 13px 32px;
  background-color: #8f503f;
  -webkit-box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.03);
  box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.03);
}

.top-rated-rooms .room-container .honeymoon-room .room-image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media screen and (max-width: 1075px) {
  .top-rated-rooms .room-container .honeymoon-room .room-image {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}
/* End of Top-Rated-Rooms Section */

/* Gallery Section */
.gallery_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10vw;
  background-color: #fafafa;
}

.gallery_title {
  color: #8f503f;
  margin: 10px 0 5px;
}

.gallery_text {
  color: #8b8680;
  margin: 5px 0 10px;
  font-size: 18px;
  text-align: center;
}

.gallery_imgs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.gal_img {
  width: 100%;
}

.ind {
  margin: 10px 0;
}

.ind_item {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #8f503f;
  margin: 0 5px;
  display: inline-block;
}

.focus {
  background-color: #8f503f;
}

.anime {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 580px) {
  .gallery_imgs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
/* End Gallery Section */
