@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
.about-hotel {
    background-color: #ffffff;
    width: 100%;
    margin: 90px 0px 50px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.about-h1 {
    color: #8F503F;
    position: absolute;
    width: 300px;
    left: 710px;
    top: 165px;    
}
.about-image {
    width: 600px;
    height: 400px;
}
.about-img {
    width: 600px;
    height: 400px;
    margin: 30px 0px 40px 0px;
}
.about-text {
    width: 500px;
    margin: 26px 0px 0px 0px
}
.about-paragraph1, .about-paragraph2 {
    color: #8B8680;
    font-size: 16px;
    line-height: 26px;
}
.about-btn {
    background-color: #8F503F;
    width: 160px;
    height: 45px;
    border: transparent;
    margin-top: 25px;
}
.hospitality-image {
    max-width: 100%;
}

.hospitality-img {
    filter: brightness(50%);
    width: 100%; 
    max-height: 100%;
}
.hospitality-vector {
    position: absolute;
    left: 600px;
    top:950px;
}
.text > h5 {
    font-size:26px;
    color: #ffffff;
    position: absolute;
    width: 220px;
    height: 27px;
    left: 570px;
    top: 780px;
}
.text > p {
    position: absolute;
    width: 440px;
    height: 67px;
    text-align: center;
    left: 450px;
    top: 840px;
    color: #ffffff;
    font-size: 18px;
}

/* mobile responsiveness */
@media screen and (max-width: 1190px) {
    .about-hotel{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        width: auto;
        max-width: 100%;
    }
    .about-image {
        width: auto;
        max-width: 100%;
    }
    .about-img{
        width: auto;
        max-width: 100%;
    }
    .about-text{
        width: auto;
        position: relative;
    }
    .about-paragraph1{
        margin: 90px 0px 0px 35px;
        font-size: 18px;
        line-height: 28px;
    }
    .about-paragraph2{
        margin: 0px 0px 0px 35px;
        font-size: 18px;
        line-height: 28px;
    }
    .about-h1 {
        color: #8F503F;
        position: absolute;
        width: 300px;
        left: 10%;
        top: 5%;    
    }
    .about-btn {
        margin-left: 35px;
        margin-top: 25px;
    }
    .hospitality {
        width: auto;
        max-width: 100%;
        position: relative;
        text-align: center;
    }
    .hospitality-image {
        width: auto;
        max-width: 100%;
    }
    .hospitality-img {
        width: 100%;
        height: auto;    
    }
    .text > h5 {
        font-size:14px;
        color:#ffffff;
        position: absolute;
        width: 220px;
        height: 27px;
        left:20% ;
        top:10%;
        text-align: center;
    }
    .text> p {
        position: absolute;
        width: auto;
        height: 67px;
        text-align: center;
        left: 4%;
        top: 30%;
        color: #ffffff;
        font-size: 12px;
    }
    .hospitality-vector {
        position: absolute;
        left: 45%;
        top:70%;
        width: 30px;
    }
    
}