










.container-fe {
    width: 90%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  
  .rate-holder {
    text-align: center;
    padding: 3em 0;
  }

  .rate-holder h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #8F503F;
    padding-bottom: 15px
}

.rate-holder h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(139, 134, 128, 0.85);
}

.grid-style {
    width: 100%;
    margin: 0 0 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.room-imgs{
    /* width: calc(58% + 0rem); */
    width: 52%;
}

.room-contents {
    /* width: calc(42% + 0rem); */
    width: 48%;
}

.icons {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
    background: #ffffff;
    border: 1px solid #8F503F;
    box-sizing: border-box;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.icon img {
    text-align: center;
    position: absolute;
    top: 10px;
    left: -5px;
}

.wifi img {
    width: 23px;
    left: -4px;
}

.fork img {
    width: 17px;
    left: -1px;
}

.bottle img {
    width: 17px;
    left: 0px;
    top: 10px;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.cont-holder h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #8F503F;
    text-align: left;
}

.cont-holder p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #8B8680;
    padding: 15px 0;
    width: 83%;
}

.grid-container {
    display: grid;
    grid-template-columns: 170px 200px;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    margin-top: 2rem;
}

.sm-edit {
    margin-top: 1.1rem;
}
.amount h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: #8F503F;
    padding-top: 18px;
}

.amount span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #8B8680;
}

.book-room button {
    background: #8F503F;
    box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.03);
    height: 53px;
    width: 84%;
    border-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'poppins';
}

.ratings {
    padding-top: 8px;
    display: -webkit-inline-box;
}
.ratings h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #696969;
    padding-right: 8px;
}

.img-holder img {
    width: 720px;
    height: 370px;
}

.room-contentInner {
    padding-left: 25px;
}

/* RESPONSIVENESS */
/* @media only screen and (min-width: 320px) {
    .img-holder img {
        width: 286px !important;
        height: 226px !important;
    }
} */



@media only screen and (max-width: 1440px) {
    .img-holder img {
        width: 673px;
    }
  }


@media only screen and (max-width: 1280px) {
    
    .img-holder img {
        width: 695px !important;
        height: 425px;
    }

    .room-imgs {
        width: 60%;
    }

    .room-contents {
        width: 40%;
    }
  }

  
  @media  only screen and (max-width: 768px) {

    .room-contentInner {
        padding-left: 0;
    }

    .sm-img>.img-holder {
        margin-left: 30px;
    }

    .cont-holder p {
        font-size: 12px;
        line-height: 22px;
        padding: 8px 0;
        width: 100%;
    }

    .grid-container {
        margin-top: 1rem;
    }

    .book-room button {
        height: 40px !important;
        width: 80% !important;
        font-size: 14px !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 140px 145px;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: ". .";
        margin-top: 1rem;
    }

    .sm-edit {
        margin-top: 0.2rem;
    }
    
    .room-imgs {
        width: 55%;
    }

    .room-contents {
        width: 45%;
    }

    .img-holder img {
        width: 358px !important;
        height: 314px !important;
    }

    .amount h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 36px;
        color: #8F503F;
        padding-top: 4px;
    }

    .sm-img img {
        padding-left: 2px;
    }

    .sm-screen {
        padding-right: 0px;
    }
}


@media screen and (min-width: 320px) and (max-width: 760px){
    
    .container-fe {
        
        margin-bottom: 0;
    }
    .room-imgs, .room-contents {
        width: fit-content !important;
        display: contents;
    }

    .rate-holder {
        padding-bottom: 1.5em;
    }

    .rate-holder h3 {
        font-size: 16px;
        margin-bottom: 1.5em;
    }

    .img-holder img {
        width: 100% !important;
        height: auto !important;
        margin: auto;
    }

    .cont-holder p {
        font-size: 14px;
        padding: 15px 0;
        width: 100%;
    }
    
    .cont-holder h2 {
        padding-top: 20px;
    }

    .grid-container {
        grid-template-columns: 170px 170px;
    }

    .rate-holder {
        text-align: center;
        padding: 0em 0;
    }

    .sm-screen {
        margin-top: 65%;
    }

    .sm-img img {
        width: 337px !important;
        position: absolute;
        top: 52em;
        left: 4px;
        padding: 15px;
    }

    .room-contentInner {
        padding-left: 0;
    }
    
    .amount h2 {
        font-size: 16px;
        padding-top: 9px;
    }

    .book-room button {
        height: 45px;
        width: 84%;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .sm-img img {
        width: 383px !important;
        position: absolute;
        top: 52em;
        left: 4px;
        padding: 15px;
    }
}

@media screen and (max-width: 360px) {
    .cont-holder p {
        font-size: 14px;
        padding: 15px 0;
        width: 94%;
        margin: auto auto auto 0;
    } 
    .sm-img img {
        width: 324px !important;
    }
}

@media only screen and (max-width: 320px) {
    .sm-img img {
        width: 288px !important;
        position: absolute;
        top: 49em;
        left: 4px;
        padding: 15px;
    }

    .cont-holder p {
        font-size: 14px;
        padding: 15px 0;
        width: 85%;
    }

    .grid-container {
        grid-template-columns: 140px 150px;
    }

    .cont-holder p {
        width: 100%;
    }

    .amount h2 {
        font-size: 12px;
        padding-top: 9px;
    }

    .cont-holder p {
        font-size: 12px;
    }

    .cont-holder h2 {
        font-size: 20px;
    }

    .sm-screen {
        margin-top: 54%;
    }

    .ratings h3 {
        font-size: 14px;
    }

    ul.icons li {
        width: 35px;
        height: 35px;
    }
    .wifi img {
        width: 20px;
        left: -1px;
    }

    .fork img {
        width: 14px;
        left: 0px;
    }

    .bottle img {
        width: 15px;
        left: 0px;
        top: 7px;
    }
    .amount span {
        font-size: 12px;
    }
}
  /* RESPONSIVENESS END */








